.hero {
    background-color: black;
    min-height: 100vh;
    text-align: center;
    display:column;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(135deg,#667eea 0%, #4b65a2 100%);
}

.hero h2 {
font-size: 4rem;
}

.hero img {
    max-width: 1000px;
    border-radius: 20%;
    margin-bottom: 20px;
    height: -200px;
    justify-content: flex-start;

    
}