.navBar {
  padding: 20px;
  position: sticky;
  top: 0;
}
.navBar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding:0;
}
.navBar li {
    cursor: pointer;
    color: aliceblue;
}

.navBar li:hover {color: gold; }